<div>
  <h1 class="font-bold text-4xl">Show page Event</h1>
</div>

<div>
  <% dom_id @event %>
  <p> Name: <%= @event.name %> </p>

  <p> Description: <%= @event.description %> </p>

  <p> Date: <%= @event.date %> </p>

  <p> Launch: <%= @event.launch %> </p>

  <%= link_to "Edit", edit_manager_event_path(@event) %>
  <%= link_to "Delete", manager_event_path(@event), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  <%= link_to "Home", manager_events_path %>
</div>