<% flash.each do |type, msg| %>
  <div class="bg-indigo-900 text-center py-4 lg:px-4">
    <div class="p-2 bg-indigo-800 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
      <span class="flex rounded-full bg-indigo-500 uppercase px-2 py-1 text-xs font-bold mr-3"><%= I18n.t('views.external.lesson.index.flash.new') %></span>
      <span class="font-semibold mr-2 text-left flex-auto"><%= msg %></span>
      <svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/>
      </svg>
    </div>
  </div>
<% end %>

<h1 class="text-center text-4xl mt-10"><%= I18n.t('views.external.lesson.index.title') %></h1>
<div class="holder mx-auto w-10/12 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
  <% @lessons.each_with_index do |lesson, index| %>
    <div class="each mb-10 m-1 shadow-lg border-gray-800 bg-gray-100 relative flex flex-col">
      <% if @lessons_checker[index] %>
        <%= image_tag lesson.thumbnail, class: 'max-w-200px' if lesson.thumbnail.attached? %>
      <% else %>
        <iframe class="w-full flex-1" src="<%= Lessons::Embedder.embed_url(lesson.link) %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <% end %>
      <div class="desc p-3 text-gray-800 flex flex-col w-full">
        <div class="flex flex-col flex-3 w-full">
          <%= lesson.title %>
          <span class="description text-sm block py-2 border-gray-400 mb-2"><%= lesson.description %></span>
        </div>
        <% if lesson.launch_datetime > Time.zone.now %>
          <div class="flexflex-1 launch-datetime text-sm font-bold text-gray-600">
            <%= I18n.t('views.external.lesson.index.launch_at') %>: <%= lesson.launch_datetime.strftime('%d/%m/%Y %H:%M') %>
          </div>
        <% else %>
          <%= link_to I18n.t('views.external.lesson.index.quiz_link'), lesson_validate_path(@event,lesson)  %>
        <% end %>
      </div>
    </div>

<% end %>
</div>
