<div class="overflow-x-auto">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-4 py-3"><%= t '.prize_draw_name' %></th>
      <th scope="col" class="px-4 py-3"><%= t('.date') %></th>
      <th scope="col" class="px-4 py-3"><%= t('.event') %></th>
      <th scope="col" class="px-4 py-3"><span><%= t('.actions') %></span></th>
    </tr>
    </thead>
    <tbody>
    <% @prize_draws.each do |prize_draw| %>
      <tr class="hover:bg-gray-100 border-b dark:border-gray-700">
        <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= prize_draw.name %></td>
        <td class="px-4 py-3"><%= I18n.localize(prize_draw.date, format: :long) %></td>
        <td class="px-4 py-3"><%= prize_draw.event.name %></td>
        <td class="px-4 py-3 flex items-center">
          <button id="lessons-dropdown-button-<%= prize_draw.id %>" data-dropdown-toggle="lessons-dropdown-<%= prize_draw.id %>" class="inline-flex items-center p-1 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100 ml-auto" type="button">
            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
            </svg>
          </button>
        </td>
      </tr>

      <div id="lessons-dropdown-<%= prize_draw.id %>" class="hidden z-10 w-30 bg-white rounded divide-y flex-col items-center divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
        <ul class="py-1 text-sm flex flex-col items-center text-gray-700 dark:text-gray-200" aria-labelledby="lessons-dropdown-button-<%= prize_draw.id %>">
          <li class="hover:bg-gray-100">
            <%= link_to(manager_event_prize_draw_url(prize_draw.event, prize_draw), class: "block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white") do %>
              <%= t '.button_show' %>
            <% end %>
          </li>
          <li class="hover:bg-gray-100">
            <%= link_to(edit_manager_event_prize_draw_url(prize_draw.event, prize_draw), class: "block py-2 px-4 dark:hover:bg-gray-600 dark:hover:text-white") do %>
              <%= t '.button_edit' %>
            <% end %>
          </li>
        </ul>
        <div class="self-center hover:bg-gray-100">
          <%= link_to(manager_event_prize_draw_url(prize_draw.event, prize_draw), data: { turbo_method: :delete, turbo_confirm: t('views.manager.event.delete_confirm') }, class: "block py-2 px-4 text-sm text-gray-700 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white") do %>
            <%= t('.button_delete') %>
          <% end %>
        </div>
      </div>
    <% end %>
    </tbody>
  </table>
</div>
