<section class="h-screen bg-white py-10 mb-10 dark:bg-gray-900">
  <div class="bg-white shadow-xl mx-auto max-w-xl rounded-md">
    <div class="p-3 fa-align-center">
      <dl class="flex flex-col items-center justify-center space-x-6">

        <div class="flex flex-col items-center">
          <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white"><%= t('activerecord.attributes.prize_draw.event') %></dt>
          <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400"><%= @prize_draw.event.name %></dd>
        </div>
        <div class="flex flex-col items-center">
          <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white"><%= t('activerecord.attributes.prize_draw.prizedraw') %></dt>
          <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400"><%= @prize_draw.name %></dd>
        </div>

        <div class="flex flex-col items-center">
          <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white"><%= t('activerecord.attributes.prize_draw.date') %></dt>
          <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400"><%= I18n.localize(@prize_draw.date, format: :long) %></dd>
        </div>

        <div class="flex flex-col items-center">
          <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white"><%= t('activerecord.attributes.prize_draw.prize') %></dt>
          <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400"><%= @prize_draw.prize %></dd>
        </div>
      </dl>
      <div class="flex justify-center space-x-4">
        <%= link_to t('views.manager.event.back'), manager_event_prize_draws_path, class: "text-primary-700 inline-flex items-center bg-white hover:bg-primary-700 hover:text-white hover:border-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center border border-primary-300" %>
        <%= link_to edit_manager_event_prize_draw_path(@prize_draw), class: "text-white inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus-ring-primary-800" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
          </svg>
          <%= t('views.manager.event.edit')%>
        <% end %>

        <%= link_to manager_event_prize_draw_path, method: :delete, data: { turbo_method: :delete, turbo_confirm: t('views.manager.event.delete_confirm') }, class: "text-white inline-flex items-center bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-500 dark:hover:bg-red-600 dark:focus-ring-red-900" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
          </svg>
          <%= t('views.manager.event.delete') %>
        <% end %>

        <%= link_to manager_event_prize_draws_path(@event), class: "text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-opacity-50 inline-flex items-center font-medium rounded-lg text-sm px-5 py-2.5 text-center" do %>
          <svg class="w-4 h-4 mr-2 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 19v-9m3-4H5.5a2.5 2.5 0 1 1 0-5C7 1 8.375 2.25 9.375 3.5M12 19v-9m-9 0h14v8a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-8ZM2 6h16a1 1 0 0 1 1 1v3H1V7a1 1 0 0 1 1-1Zm12.155-5c-3 0-5.5 5-5.5 5h5.5a2.5 2.5 0 0 0 0-5Z"/>
          </svg>
          <%= t('views.manager.prize_draw.run_prize_draw') %>
        <% end %>

      </div>
    </div>
  </div>
</section>
