<div class="container mx-auto max-w-screen-lg mt-8 space-y-8 text-gray-900 dark:text-white">
  <div class="block">
    <h2 class="block mb-2 text-lg font-semibold"><%= t("views.manager.student.show.name") %></h2>
    <p class="bg-gray-50 border border-gray-300 text-sm rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"><%= @student.name %></p>
  </div>

  <div class="block">
    <h2 class="block mb-2 text-lg font-semibold"><%= t("views.manager.student.show.email") %></h2>
    <p class="bg-gray-50 border border-gray-300 text-sm rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"><%= @student.email %></p>
  </div>

  <div class="block">
    <h2 class="block mb-2 text-lg font-semibold"><%= t("views.manager.student.show.phone") %></h2>
    <p class="bg-gray-50 border border-gray-300 text-sm rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"><%= @student.phone %></p>
  </div>

  <div class="block">
    <h2 class="block mb-2 text-lg font-semibold"><%= t("views.manager.student.show.profile_social") %></h2>
    <p class="bg-gray-50 border border-gray-300 text-sm rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"><%= @student.profile_social %></p>
  </div>

  <div class="block">
    <h2 class="block mb-2 text-lg font-semibold"><%= t("views.manager.student.show.type_social") %></h2>
    <p class="bg-gray-50 border border-gray-300 text-sm rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"><%= @student.type_social %></p>
  </div>
</div>