<div class="w-full mt-8">
  <div class="max-w-lg mx-auto">
    <h1 class="text-4xl font-semibold text-gray-900 mb-4 text-center"><%= t("views.manager.student.select_event.generate_certificate") %></h1>
  </div>

  <div class="max-w-lg mx-auto">
    <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
      <%= t("views.manager.student.select_event.student") %>
    </p>
    <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
      <%= @student.name %>
    </p>
  </div>

  <%= form_for :certificate, url: { action: "create_certificate" } do |f| %>
    <div class="max-w-lg mx-auto mt-4">
      <%= f.label :event_id, t("active_admin.views.students.event"), class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
      <%= f.select :event_id,
                   options_for_select(Event.all.collect { |event| [event.name, event.id] }),
                   { prompt: t("active_admin.views.students.select_event") },
                   { class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' }
      %>
    </div>
    <div class="text-left max-w-lg mx-auto mt-6">
      <%= f.submit t("views.manager.student.select_event.submit"), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
  <% end %>
</div>