<div class="w-full mt-4">
  <p style="color: green"><%= notice %></p>

  <div class="mt-6 max-w-md mx-auto text-right">
    <%= link_to "Gerar Certificado", select_event_manager_student_path, class: "text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" %>
  </div>

  <div class="max-w-md mx-auto">
    <%= render "manager/students/student", student: @student %>
  </div>

  <div class="mt-6 max-w-md mx-auto flex space-x-2">
    <%= link_to t('views.manager.student.links.edit'), edit_manager_student_path(@student), class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"  %>
    <%= link_to t('views.manager.student.links.back'), manager_students_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"  %>
    <%= button_to t('views.manager.student.links.destroy'), manager_student_path(@student), method: :delete, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"  %>
  </div>
</div>