<h2><%= t 'views.manager_users.registrations.new.sign_up' %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "manager_users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> <%= t 'views.manager_users.registrations.edit.min_characters'%>)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <%= f.fields_for :student do |student_fields| %>

    <div class="field">
      <%= student_fields.label :type_social %><br />
      <%= student_fields.text_field :type_social %>
    </div>

    <div class="field">
      <%= student_fields.label :profile_social %><br />
      <%= student_fields.text_field :profile_social %>
    </div>

    <div class="field">
      <%= student_fields.label :phone %><br />
      <%= student_fields.text_field :phone %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit t 'views.manager_users.registrations.new.sign_up' %>
  </div>

<% end %>

<%= render "manager_users/shared/links" %>
