<% if notice.present? %>
  <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md" role="alert">
    <%= notice.html_safe %>
  </div>
<% elsif alert.present? %>
  <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
    <%= alert.html_safe %>
  </div>
<% end %>

<div class="max-w-md mx-auto mt-6 p-4 bg-white rounded-lg shadow-lg">
  <h1><%= @lesson.title %></h1>
  <h2><%= @quiz.title %></h2>

  <% x = 1 %>
  <% @quiz_questions.each do |quiz_question| %>
    <div class="mb-6">
      <p class="text-lg font-semibold"><%= x %>)<%= quiz_question.description %></p>

      <% if @correct_responses["#{quiz_question.id}"] %>
        <p class="text-green-500">Você acertou esta pergunta!</p>
        <p class="text-green-500"><%= quiz_question["answer#{quiz_question.correct_answer}"] %></p>
      <% else %>
        <p class="text-red-500">Você errou esta pergunta. A resposta correta era: <%= quiz_question["answer#{quiz_question.correct_answer}"] %></p>
      <% end %>

    </div>
    <% x += 1 %>
  <% end %>

</div>
