<h1>Lista de Aulas</h1>

<table>
  <thead>
  <tr>
    <th>Título</th>
    <th>Evento</th>
    <th>Ações</th>
  </tr>
  </thead>
  <tbody>
  <% @lessons.each do |lesson| %>
    <tr>
      <td><%= lesson.title %></td>
      <td><%= lesson.event.name %></td>
      <td>
        <%= link_to 'Ver', manager_lesson_path(lesson) %>
        <%= link_to 'Editar', edit_manager_lesson_path(lesson) %>
        <%= button_to 'Excluir', manager_lesson_path(lesson), method: :delete, data: { confirm: 'Tem certeza que deseja excluir esta aula?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Nova Aula', new_manager_lesson_path %>
