<div class="flex flex-col items-center justify-center">
  <div class="flex">
    <div class="p-4">
      <h2 class="text-dark mb-6 text-[32px] font-bold sm:text-[40px] lg:text-[36px] xl:text-[40px]">
        <%= t("views.certificates.certificate.download_now") %>
      </h2>
      <div class="flex items-center justify-center mt-4 text-gray-700">
        <%= render "download_button" %>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center space-x-6">
    <div>
      <%= render "certificate_image" %>
    </div>
    <% if current_page?(action: 'share') %>
      <div class="flex flex-col justify-center space-y-6">
        <a href="https://www.linkedin.com/sharing/share-offsite/?url=<%= @share_url %>" class="bg-indigo-500 hover:bg-indigo-700 text-white px-4 py-2 rounded-full">
          <%= t("views.certificates.share.share_on_linkedin") %>
        </a>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&su=Assunto do Email&body=<%= t("views.certificates.share.see_my_certificate") %> <%= @share_url %>" class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-full">
          <%= t("views.certificates.share.share_through_gmail") %>
        </a>
        <a href="https://api.whatsapp.com/send?text=<%= @share_url %>" class="bg-green-500 hover:bg-green-700 text-white px-4 py-2 rounded-full">
          <%= t("views.certificates.share.share_on_whatsapp") %>
        </a>
      </div>
    <% end %>
  </div>
</div>
