<div class="panel">
  <div class="panel_contents">
    <div class="attributes_table source" id="attributes_table_source_1">
      <table border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <%= form_for Ticket.new, :url => { action: 'import_student_csv' }, :html => { :multipart => true } do |f| %>
          <tr class="row row-key">
            <th><%= f.label :event_id %></th>
            <td><%= f.select :event_id, options_for_select(Event.active.collect { |event| [event.name, event.id] }), prompt: t("active_admin.views.ticket.event_id") %></td>
          </tr>
          <tr class="row row-key">
            <th><%= f.label :file %></th>
            <td><%= f.file_field :file %></td>
          </tr>
          <tr class="row row-key">
            <th> <%= submit_tag t("active_admin.views.submit") %></th>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>