<%= form_with(model: @ticket, url: @ticket.persisted? ? manager_ticket_path(@ticket) : manager_tickets_path, local: true, html: { multipart: true }) do |form| %>
  <div>
    <%= form.label :event_id, "Event" %>
    <%= form.select :event_id, @event_options %>
  </div>

  <div>
    <%= form.label :svg, "File" %>
    <%= form.file_field :svg %>
  </div>

  <div class="action">
    <%= form.submit %>
  </div>
<% end %>
