<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  <style>
      .button {
          border-radius: 2px;
      }

      .button a {
          padding: 8px 12px;
          border: 1px solid #ED2939;
          border-radius: 2px;
          font-family: Helvetica, Arial, sans-serif;
          font-size: 14px;
          color: #ffffff;
          text-decoration: none;
          font-weight: bold;
          display: inline-block;
      }
  </style>

</head>
<body>
<h3>Eae <%= @ticket.student.name %>, tudo na paz?</h3>
<p>Acesse seu ingresso para o evento: <%= @ticket.event.name %></p>
<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <table cellspacing="0" cellpadding="0">
        <tr>
          <td style="border-radius: 2px;" bgcolor="#ED2939">
            <%= link_to "Clique aqui para pegar seu ingresso", event_ticket_url(@ticket.event.slug, @ticket.student.phone), target: "_blank", style: "padding: 8px 12px; border: 1px solid #ED2939;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;" %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<p>O objetivo do evento é <%= @ticket.event.description %></p>
<p>Data do Evento: <%= @ticket.event.info %></p>
</body>
</html>
